# Environment
APP_ENV=dev
APP_TIMEZONE=Europe/Paris
SITE_NAME=Peintre

# Database Configuration
DB_HOST=localhost
DB_NAME=cms
DB_USERNAME=root
DB_PASSWORD=

# SMTP Configuration
SMTP_HOST=mail.infomaniak.com
SMTP_USERNAME=contact@example.com
SMTP_PASSWORD=
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_AUTH=true

# ReCaptcha Configuration
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY=

# Email Settings
MAIL_FROM_ADDRESS=contact@example.com
MAIL_FROM_NAME=Raspgot
MAIL_SUBJECT=New message !
