// sass --watch ./public/assets/scss/custom.scss:./public/assets/css/style.min.css --style compressed

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    padding: 15px;
}